@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
    <p style="font-size:3em">
        <a asp-controller="ReportingCases" asp-action="Create">Report New Issue</a>
    </p>
</div>
