@model ScadaIssuesPortal.Web.Models.CaseItemTemplateEditVM
@{
    ViewData["Title"] = "Edit Reporting Case Item";
}

<div class="row justify-content-center align-items-center">
    <div class="col col-md-8 col-lg-8 col-xl-6">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemTemplate.SerialNum"></label>
                <input asp-for="ItemTemplate.SerialNum" class="form-control" />
                <span asp-validation-for="ItemTemplate.SerialNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTemplate.Question"></label>
                <input asp-for="ItemTemplate.Question" class="form-control" />
                <span asp-validation-for="ItemTemplate.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTemplate.ResponseType" class="control-label"></label>
                <select asp-for="ItemTemplate.ResponseType" class="form-control" asp-items="ViewBag.ResponseTypeId"></select>
                <span asp-validation-for="ItemTemplate.ResponseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTemplate.IsResponseRequired"></label>
                <input asp-for="ItemTemplate.IsResponseRequired" class="form-control" />
                <span asp-validation-for="ItemTemplate.IsResponseRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int optIter = 0; optIter < Model.ItemTemplate.Options.Count; optIter++)
                {
                    <div>
                        <span>@(Model.ItemTemplate.Options.ElementAt(optIter).OptionText)</span> | 
                        <a asp-controller="CaseItemOptions" asp-action="Edit" asp-route-id="@Model.ItemTemplate.Options.ElementAt(optIter).Id">Edit</a> | 
                        <a asp-controller="CaseItemOptions" asp-action="Delete" asp-route-id="@Model.ItemTemplate.Options.ElementAt(optIter).Id">Delete</a>
                    </div>
                }
                <label asp-for="NewOptionText"></label>
                <input asp-for="NewOptionText" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>

        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}