@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit Issue";
}

<div id="root"></div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        .question {
            font-weight: bold;
            font-size: large;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // initializing the caseId variable
        const _caseId = @ViewBag.caseId;
        $(".datetimepicker").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
    </script>
    <script src="~/js/case_manage_ui_app/node_modules/react/umd/react.production.min.js"></script>
    <script src="~/js/case_manage_ui_app/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="~/js/case_manage_ui_app/dist/bundle.case_edit_ui.js"></script>
}