@{
    ViewData["Title"] = "Reporting Cases";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="ReportingCases" asp-action="Create">Report New Issue</a>
    </p>
</div>
